@font-face {
    font-family: 'Monument Extended';
    src: url('./fonts/monumentextended-regular.otf');
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.image-wrapper {
    box-sizing: content-box;
}

.image-wrapper>span {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.left-scrollbar {
    direction: rtl;
}

.left-scrollbar> ::-webkit-scrollbar-track {
    width: 1px;
    color: #474F57;
}

.left-scrollbar> ::-webkit-scrollbar-thumb {
    width: 2.5px;
    color: #fff;
}

.left-scrollbar>div {
    direction: ltr;
}